@keyframes rightSide {
    from{
      overflow-y: hidden;
      transform: translateY(100%);
        
    } 
    to{
      overflow-y: hidden;
      transform: translateY(0);
    }
  }
 
  @keyframes leftSide {
    from{
      transform: translateX(-100%);
    } 
     
    to{
      transform: translateX(0);
       
    }
  }