@keyframes rightSide {
    from{
      bottom:-100%;
    }25%{
      bottom: -75%;
    }50%{
      bottom: -50%;
    }75%{
      bottom: -25%;
    }
    to{
      bottom: 0;
    }
  }
 
  @keyframes leftSide {
    from{
      position: relative;
      left:-100%;
    } 
    50%{
      position: relative;
      left:-50%;
  
    }
    75%{
      position: relative;
      left: -25%;
    }
    to{
      left: 0;
      position: sticky;
    }
  }