@media screen and (max-width:1150px) {
  .content{
    font-size: large;
  }
   .city{
    font-size: 1.2rem;
   }
  .carousel{
    width: 200px;
  }
  .text-muted{
    text-align: center;
    font-size:x-small;
  }
  .switch span{
    font-size: small;
  }
}

@media screen and (max-width:900px) {
  .city{
   font-size: 1rem;
  }
  .charts-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,auto);
    height: max-content;
  }
  .text-muted{
    text-align: center;
    font-size:x-small;
  }
 
}

@media screen and (max-width:800px) {
      .parent{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: auto max-content;
      }
      .switch span{
        font-size: medium;
      }
      .leftSide{
        align-items: center;
        row-gap: 1rem;
        height: max-content;
        padding: 2rem 1rem  ;
      }
      .content{
        padding-right: 1rem;
      }
      .carousel{
        justify-self: center;
        width: 400px;
      }  
      .content{
        font-size: 1.5rem;
      }
      .city{
        font-size: 2rem;
      }
      .date{
        font-size: large;
      }
      .rightSide{
          border-bottom-left-radius: 0px;
          border-top-right-radius: 2.5rem;
          padding: 2rem 2rem ;

      }
      .text-muted{
        text-align: center;
        font-size:xx-small;
      }
}

@media screen and (max-width:450px){

        .charts-container{
          display: grid;
          grid-template-columns: auto;
        }
        .carousel{
          width: min-content;
        }
        .content{
          font-size: 1rem;
        }
        .city{
          font-size: 1.3rem;
        }
        .text-muted{
          text-align: center;
          font-size:small;
        }
         
}

@media screen and (max-width:300px){
      .content{
        font-size: small;
      }
}
