* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root  {
  --bodyColor: #5c9ce5;
  --rightSideColor: white;
  --whiteColor: white;
  --progressBarColor:#5c9ce5;
  --progressColor:#E9ECEFff ;
  --btn-nextday : #F0F0F0ff ;
  
}
:root .dark{
  --bodyColor:#46494e;
  --rightSideColor: #282828;
  --whiteColor:#303338;
  --progressBarColor:#abc7f1 ;
  --progressColor:#1b1e24;
  --btn-nextday : var(--bodyColor) ;
  color: white;
  .btn-day{
    color: white;
  }
  .mode-dark span{
    color: #F6CB43ff;
  }
}
@property --deg{
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
.first-appear{
box-sizing: border-box;
 display: flex;
 flex-direction: column;
 padding-top: 14rem;
 height: 90vh;
 
}
.title{
  text-align: center;
  font-size: clamp( 3rem , 100% );
  font-weight: bolder;
  background: linear-gradient(to right,rgba(92,156,229,1),#84b4eb, #e7beaa, rgb(138, 138, 160));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form2{
  box-sizing: border-box;
  margin-top: 3rem;
  display: flex;
  border-radius: 2rem;
  width:max-content;
  position: relative;
  align-self: center;
  justify-self: center;
  border:1px solid gray ;
   
}

.formFocus::after,
.formFocus::before{
  content:'';
  position: absolute;
  inset: -.2rem;
  border-radius: inherit;    
  background-image:conic-gradient(from var(--deg), rgba(92,156,229,1),#84b4eb, rgb(133, 133, 160)  ,#e7beaa, rgb(138, 138, 160) );
  z-index: -1;
  animation: borderAnimation 2s linear infinite;
}
.formFocus::after{
  filter: blur(1rem);
 
}
@keyframes borderAnimation {
 to{
      --deg:360deg;
  }
}
.input-con2 {
  background-color: white;
  display: flex;
  width: 100%;
  justify-self: center;
  height: 3rem;
  position: relative;
  border-radius:inherit ;
  border: 1px solid rgba(128, 128, 128, 0);
  transition: 5ms ease-in-out;
  padding-left: .1rem;
}
.disabled{
  background-color: rgba(255, 255, 255, 0.114);
}
.disabled .input{
  background-color: #30333800;
  color: rgba(255, 255, 255, 0.534);
}
 
.input-con2:focus {
  outline: none;
  border: 2px solid rgba(114, 114, 114, 0.233);
}
#search-btn2 {
  color: gray;
  font-size: larger;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  
}
#alert2{
  width:20rem;
  align-self: center;
  margin-top: 3rem;
  position: relative;
}
 
.input2{
  padding-left: 1rem;
  height: 90%;
  border: none;
  border-radius: inherit;
  width: 100%;
  font-size: larger;
}
.input2:focus{
  outline: none;
}
.hide{
  display: none;
}
.parent {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  background-color: var(--bodyColor);
}

.leftSide { 
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 1rem;
  padding: 1rem 2rem 0 2rem;
  height: 100vh; 
  animation: leftSide 1s linear ;
  position: sticky;
  top: 0;
  left: 0;
}
 
.form {
  width: 100%;
  display: flex;
  margin-top: 0.8rem;
  justify-content: space-between; 
 
}
#search-btn {
  color: gray;
  font-size: larger;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
   
}
.input-con {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  position: relative;
  padding: 0rem 1rem 0.3rem 1rem;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0);
  transition: 5ms ease-in-out;
  height: 41.6px;
  width: 80%;
}
.disabled{
  background-color: rgba(255, 255, 255, 0.114);
}
.disabled .input{
  background-color: #30333800;
  color: rgba(255, 255, 255, 0.534);
}
 
.input-con:focus {
  outline: none;
  border: 2px solid rgba(114, 114, 114, 0.233);
}

.input-con button{
  justify-self:  end;
}
.switch {
  margin: 0.4rem 0 0 1rem;
  width: 20%;
  text-align: end;
}
.switch button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
.switch span {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.575);
  text-align: center;
   
}
.switch .active {
  color: white;
}
.spinner{
  width:35px;
  height: 40px;
 justify-self: end;
  border-radius: inherit;
  color:var(--bodyColor)
}
 
#alert1{
  height:min-content;
  padding: .7rem;
  position: relative;
  animation: appear .5s linear  ;
}
.alert .btn-close{
  padding-top: .7rem;
}
@keyframes appear {
  from{
    left:-100%;
  }
  50%{
    left:-50%; 
  }
  100%{
    left:0;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
   
}
 
.content p {
  margin: 0.8rem 0;
}
.sunrise p , .sunset{
  width: max-content;
}
.content .city {
  margin: 0;
}
.content .date {
  font-size: small;
}
 
.sunrise,
.sunset {
  text-align: end;
  display: flex;
  
}
.sun {
  margin: 0 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  align-self: center;
  filter: brightness(0) invert(1);
}
.sunset .sun {
  height: 1.5rem;
  width: 1.5rem;
}
.carousel {
  width: 300px;
}
.temp,
.temp-desc {
  color: white;
  margin-top: 0.5rem;
  margin-left: -1rem;
  text-align: center;
}

.temp {
  font-size: 6rem;
  margin-left: 2rem;
}
.carousel{
  justify-self: center;
}
.carousel-item {
  text-align: center;
}
.img-desc{
  filter: brightness(0) invert(1);
  width: 2.5rem;
}
.temp-img {
  justify-self: center;
  align-self:center;
  
}
 
/* styling the right section */

.rightSide {
  position: relative;
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  background-color: var(--rightSideColor);
  padding: 2rem 2rem 2rem 3rem;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 1fr;
  animation: rightSide 1s linear;
}
 
 
.row-4-charts {
  align-self: self-end;
  position: relative;
}
.charts-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,max-content);
  gap: 2rem 2rem;
}
.charts-container .sm-card {
  display: flex;
  padding: 1rem 7% 0.5rem 7%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--whiteColor);
  border-radius: 1.9rem;
  height: 100%;
}
.sm-card .card-head {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  text-transform: capitalize;
}

.sm-card .icon-container {
  background-color:var(--bodyColor);
  border-radius: 0.5rem;
  text-align: center;
  color: var(--whiteColor);
  width: 40px;
  height: 35px;
}
.icon-container img {
  width: 25px;
  height: 90%;
  margin-top: 0.1rem;
  filter: brightness(0) invert(1);
}
.sm-card .values {
  font-weight: bold;
  text-align: center;
  font-size: large;
}
.sm-card .value{
  font-weight: bold;
  text-align: center;
  font-size: large;
}
.frocastTempIcon{
  width: 1.7rem;
  margin-right:0.5rem ;
}
.graph {
  height: max-content;
  width: 99.9%;
  background-color: var(--whiteColor);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem 1.5rem;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
 
.graph::-webkit-scrollbar{
  height: .4rem; 
}
.graph::-webkit-scrollbar-thumb{
  background:linear-gradient(to right, var(--bodyColor),#5c5c5c3e);
  border-radius: inherit;
}
#myChart{
  width: 100%;
 
}
.graph-head {
  display: flex;
  justify-content: space-between;
  width:inherit;
}
.btn-day{
  border: none;
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: medium;
  background-color: var(--btn-nextday);
}
.btn-con{
  position: sticky;
  right: 0;
  width:max-content;
}
.btn-loading{
  height:1.5rem;
   
}
.graph-head .p {
  align-self: center;
  position: sticky;
  left: 0;
}
  .hide{
  display: none;
}
 
.progress-grid-3{
  display: grid; 
  grid-template-columns: repeat(3,auto);
  column-gap: 1rem;
  margin: 1rem 0;
}
.progress-grid-5{
  display: grid; 
  grid-template-columns: repeat(5,auto);
  column-gap: 1rem;
  margin: 1rem 0;
}
 
.card-wind-content{
  text-align: center;
  position: relative;
  top: 2rem;
  left: 50%;
  translate: -50% -50%;
  width: 4rem;
  height: 4rem;
  box-sizing: content-box;
  padding: 1rem;
  border: var(--progressBarColor) 2px solid;
  border-radius: 100%;
   
}
.wind-direction{
  font-weight: bold;
  color: var(--progressBarColor);
}
.card-wind-content .wind-value{
  font-size: larger;
  font-weight: bolder;
  display: inline-block;
  margin-top: .2rem;
}
.progress_con{
  display: flex;
  flex-direction: column;
}
.progress-bar{
  background-color: var(--progressBarColor);
}
.progress{
  height: .8rem;
  background-color:var(--progressColor);
}
p{
  margin-bottom:.3rem ;
}
.text-muted{
  font-size: small;
}
.progress-grid-5 .text-muted,.progress-grid-3 .bold{
  text-align: center;
}
/* .wind .progress{
  rotate:  10deg;
} */
.mode-white{
  background-color: var(--bodyColor);
  border: none;
  width: 3rem;
  border-radius:1rem;
  text-align: start;
  padding:0 .5rem;
  position: absolute;
  right: 2rem;
  top:2rem; 
}
.mode-dark{
  background-color: var(--bodyColor);
  border: none;
  width: 3rem;
  border-radius:1rem;
  text-align: end;
  padding:0 .1rem;
  position: absolute;
  right: 2rem;
  top:2rem; 
}
.mode-icon{
  position: relative;
  color:var(--whiteColor) ;
}
 
 